*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
	font-family: "Aller";
  font-style: normal;
	src: url('../assets/fonts/aller/Aller_Std_Rg.ttf');
}

@font-face {
	font-family: "Aller";
  font-weight: 200;
	src: url('../assets/fonts/aller/Aller_Std_Lt.ttf');
}

@font-face {
	font-family: "Aller";
	font-weight: bold;
	src: url('../assets/fonts/aller/Aller_Std_Bd.ttf');
}

@font-face {
	font-family: "Satisfy";
	src: url('../assets/fonts/satisfy/Satisfy-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  --primary-color-main: rgb(0, 112, 82);
  --secondary-color-dark:rgb(57, 70, 86);
  --secondary-color-dark-transparent:rgba(57, 70, 86, 0.85);
  --secondary-color-main: rgb(222, 222, 222);
  --secondary-color-light: rgb(230, 230, 250);

  --spacing-2: 12px;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;

  --main-font:  Aller, GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  --title-font: Satisfy, GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif; 

  margin: 0;
  font-family: var(--main-font);
  background-color: var(--secondary-color-main);
}

#copyright {
  background-color: var(--secondary-color-dark);
  color: var(--secondary-color-light);
  text-align: center;
  padding: var(--spacing-2);
  font-size: 0.875rem;
}

h1 {
  font-family: var(--title-font);
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

section {
  background-color: var(--secondary-color-main);
  padding: var(--spacing-4) 0;
}

section > h1 {
  text-align: center;
  margin: 0;
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-3) var(--spacing-3);
  color: var(--secondary-color-dark);
}

a {
  color: var(--secondary-color-light);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--secondary-color-dark-transparent);
}

.button {
  transition: all 1s ease-out;
  padding: 8px;
  border: 1px solid var(--secondary-color-light);
  border-radius: 6px;
  min-width: 150px;
  margin-right: 6px;
  margin-bottom: 8px;
}

.button:hover {
  background-color: var(--secondary-color-light);
}

.button.primary {
  background-color: var(--primary-color-main);
  color: var(--secondary-color-light);
}

.button.primary:hover {
  background-color: var(--secondary-color-light);
  color: var(--secondary-color-dark);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
}

.divider {
  width: 40%;
  border-color: var(--primary-color-main);
  position: relative;
}

.divider::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--secondary-color-dark);
  display: inline-block;
  border: 2px solid var(--primary-color-main);
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  border-radius: 16px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 600px) {
  .divider {
    width: 90%;
  }
}
