nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color-dark);
  color: var(--secondary-color-light);
  z-index: 2;
  min-height: 82px;
  transition: all 0.8s ease;
  opacity: 0.5;
}

nav.scroll,
nav:hover {
  opacity: 1;
  min-height: var(--navbar-height);
}

nav>h1 {
  font-size: 2rem;
}

nav>h1 a:hover {
  color: var(--secondary-color-light);
}

nav>ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: var(--navbar-height);
}

nav>ul li {
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}

nav>ul li a.link {
  padding: var(--spacing-3);
  width: 100%;
  height: 100%;
  color: var(--secondary-color-light);
  transition: all 1s ease-out;
  display: flex;
  align-items: center;
}

nav>ul li.active a.link {
  background-position: 0;
}

nav>ul li.active a.link::before {
  width: 100%;
}

nav>ul li.active a.link::before {
  margin: 0;
}

nav .icon {
  display: none;
  padding: var(--spacing-3);
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 600px) {

  nav,
  nav.scroll {
    justify-content: flex-start;
    height: auto;
  }

  nav>h1 {
    font-size: 1.8rem;
  }

  nav .icon {
    display: inline-flex;
  }

  nav>ul {
    display: none;
    width: 100%;
  }

  nav>ul.visible {
    display: block;
  }
}