#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home>.block {
    z-index: 1;
    padding: var(--spacing-5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-color-light);
    color: var(--primary-color-main);
    background-image: url('../assets/concrete-wall.png');
    border: 1px solid;
}

#home>.block h1 {
    font-size: 3rem;
}

#home>.block h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-color-dark);
    margin: var(--spacing-3);
}

@media (max-width: 768px) {
    #home>.block h1 {
        font-size: 2.5rem;
    }

    #home>.block {
        padding: 1.5rem;
    }
}