.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--primary-color-main);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  padding: 20px 15px 20px 0px;
  left: 0;
  text-align: end;
}

.container.right {
  padding: 20px 0px 20px 15px;
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: white;
  border: 2px solid var(--primary-color-main);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--primary-color-main);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color-main);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -275px;
}

.container.right .date {
  left: -275px;
}

.container .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  border: 2px solid var(--primary-color-main);
  border-radius: 40px;
  object-fit: contain;
  background-color: white;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 20px 90px 20px 20px;
  position: relative;
}

.container.right .content {
  padding: 20px 20px 20px 90px;
}

.container .content h2 {
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-color-main);
}

.container .content p {
  margin: 0;
  font-size: 13px;
}

.container .content h3 {
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 600px) {
  .timeline::after {
    left: 20px;
  }

  .container {
    width: 100%;
    padding-left: 45px;
    padding-right: 20px;
  }

  .container::after {
    top: calc(5% - 8px);
  }
  
  .container::before {
    top: calc(5% - 1px);
    width: 30px;
  }
  
  .container .date {
    top: calc(5% - 8px);
  }  

  .container .icon {
    top: calc(5% - 20px);
  }

  .container.left {
    padding: 20px 0px 20px 15px;
    text-align: left;
}

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 50px;
  }

  .container.left::before,
  .container.right::before {
    left: 20px;
    border-color: transparent var(--primary-color-main) transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: calc(15px + 50px + 40px + 10px);
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 65px;
  }

  .container.left .content,
  .container.right .content {
    padding: 20px 20px 20px 70px;
  }
}