#experience {
  background-image: repeating-linear-gradient(223deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px);
  background-size: 20px;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-3) 0;
}

@media (min-width: 1024px) { 
  .timeline {
    width: 75%;
  }
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  border-left: 2px dashed var(--primary-color-main);
  top: -5px;
  bottom: -4rem;
  left: 50%;
  margin-left: 1px;
}

.container {
  position: relative;
  background: inherit;
  width: 50%;

  --icon-size: 40px;
  --container-padding: var(--spacing-3);
  padding: var(--container-padding);
}

.container.left {
  left: 0;
  text-align: end;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -10px;
  background: white;
  border: 2px solid var(--primary-color-main);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -6px;
}

.container::before {
  content: '';
  position: absolute;
  width: 52px;
  height: 2px;
  top: calc(50% - 1px);
  right: 6px;
  border-top: 2px dashed var(--primary-color-main);
  z-index: 1;
}

.container.right::before {
  left: 6px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--secondary-color-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date.large {
  right: calc(-275px - 26px);
}

.container.right .date.large {
  left: calc(-275px - 26px);
}

.container.left .date {
  right: -275px;
}

.container.right .date {
  left: -275px;
}
.container .icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  top: calc(50% - 20px);
  border: 2px solid var(--primary-color-main);
  border-radius: var(--icon-size);
  object-fit: contain;
  background-color: white;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  position: relative;
  padding: var(--spacing-3);
  border-right: 2px dotted var(--primary-color-main);
  margin-right: 90px;
  border-radius: 10px;
}

.container.right .content {
  margin-left: 90px;
  margin-right: 0;
  border-left: 2px dotted var(--primary-color-main);
  border-right: 0;
}

.container .content h2 {
  margin: 0 0 4px 0;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--primary-color-main);
  text-transform: uppercase;
}

.container .content p {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}

.container .content h3 {
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 600px) {
  .timeline::after {
    left: 20px;
  }

  .container .content, .container.right .content {
    border: none;
    margin: 0;
    padding-left: 0;
  }

  .container {
    --container-position: 15px;

    width: 100%;
    padding-left: calc(var(--container-padding) + var(--container-position) + var(--icon-size) + 10px)
  }

  .container::after {
    top: calc(5% - 8px);
  }
  
  .container::before {
    top: calc(5% - 1px);
    width: 30px;
  }
  
  .container .date {
    top: calc(5% - 8px);
  }  

  .container .icon {
    top: calc(5% - 20px);
  }

  .container.left {
    text-align: left;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: var(--container-position);
  }

  .container.left::before,
  .container.right::before {
    left: 20px;
    border-color: transparent var(--primary-color-main) transparent transparent;
  }

  .container.left .date,
  .container.right .date, 
  .container.right .date.large,
  .container.left .date.large {
    right: auto;
    left: calc(var(--container-padding) + var(--container-position) + var(--icon-size) + 10px);
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: calc(var(--container-padding) + var(--container-position));
  }

}