#skills > .content {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

#skills > .content > .block {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: var(--spacing-2);
    width: 335px;
    background: white;
    border-radius: 20px;
    text-align: center;
}
#skills > .content > .block > h3 {
    text-transform: uppercase;
}

#skills > .content > .block > img {
    height: 20px;
}
