.skills>.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
}

.skills>.content .row .block {
    padding: 1rem;
    padding-bottom: 2rem;
    margin: var(--spacing-2);
    width: 325px;
    background: white;
    text-align: center;
    transition: all 1s ease;
}

.skills>.content .row .block>h3 {
    text-transform: uppercase;
}

.skills>.content .row .block>img {
    height: 20px;
}

.skills>.content .row .block:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .skills>.content {
        padding: 1rem;
    }

    .skills>.content .row .block {
        width: 100%;
    }
}