.about {
    --image-height: 200px;
}

.about .bg-home.screen-part {
    height: calc(var(--navbar-height) + 2rem + (var(--image-height) / 2));
}

.about img {
    border-radius: 50%;
    height: var(--image-height);
    border: 2px dotted;
    width: var(--image-height);
    object-fit: cover;

    position: absolute;
    top: calc(-1 * var(--image-height) / 2);
    left: calc(50% - (var(--image-height) / 2));
}

.about .content {
    position: relative;
    margin-bottom: 0;
    padding-top: calc(1rem + (var(--image-height) / 2));

}

.about .anchor {
    top: 0;
}


@media (min-width: 800px) {
    .about {
        padding-top: 0;
    }

    .about .bg-home.screen-part {
        height: unset;
    }

    .about .block {
        margin: 0 auto;
        padding: var(--spacing-4);
        max-width: calc(100% - var(--image-height));
        font-size: 1.3rem;
    }

    .about img {
        position: absolute;
        top: calc(50% - (var(--image-height) / 2));
        left: calc(50% - (var(--image-height) / 2));
    }

    .about .content {
        position: unset;
    }

}

.about .block {
    padding: var(--spacing-3);
    font-size: 1.3rem;
    width: 100%;
    padding-bottom: 155px;
}

.about .link {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-bottom: 2rem;
}

.about .arrow-scroll {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -2rem;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

.about .arrow-scroll::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--secondary-color-dark);
    border-bottom: 2px solid var(--secondary-color-dark);
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}