.container {
  position: relative;
  background: inherit;

  --icon-size: 45px;

  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: var(--spacing-4);
}

.container .icon {
  width: var(--icon-size);
  height: var(--icon-size);
  border: 2px solid var(--primary-color-main);
  border-radius: var(--icon-size);
  object-fit: contain;
  background-color: white;
  transition: all 1s ease;
}

.container.subcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container .header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: var(--spacing-2) 0;
}

@media (min-width: 800px) {
  .container {
    --icon-size: 65px;
  }

  .container .header {
    justify-content: start;
  }

  .container .icon {
    position: absolute;
    top: calc(50% - var(--icon-size) / 2);
    left: calc((-2 * 2vw - var(--icon-size) / 2));
  }
}

.container .icon:hover {
  transform: scale(1.2);
}

.container.subcontent h3 {
  margin: 0 0 4px 0;
  font-size: 1em;
  font-weight: 600;
  color: var(--primary-color-main);
  text-transform: uppercase;
}

.container.subcontent p {
  margin: var(--spacing-1) 0;
  font-weight: 200;
}

.container.subcontent h4 {
  font-size: 0.8em;
  margin: 0;
}


.container.subcontent a {
  font-size: 1em;
}

.example {
  height: 100px;
  width: auto;
}
