
@font-face {
    font-family: "Itim";
    src: url('/assets/fonts/Itim/Itim-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Josefin_Sans";
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Josefin_Sans";
    src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
}
