$navbar-height: 82px;
$primary-color-main: #6f2500;
$primary-color-dark: #53230a;
$primary-color-light: rgb(230, 230, 250);
$secondary-color-dark: #122c50;
$secondary-color-main: #3d5a80;
$secondary-color-light: #98c1d9;

$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 1rem;
$spacing-4: 2rem;
$spacing-5: 3rem;

$navbar-height: 82px;
$screen-part-mobile-height: 20vh;

$main-font: Josefin_Sans, GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
$title-font: Itim, GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;

