{{- $image := resources.Get .src -}}

{{- if eq $image.MediaType.SubType "svg" -}}
<img src="{{ $image.RelPermalink }}" 
    alt="{{ .alt }}" 
    loading="lazy"
    {{ if .class }} class="{{ .class }}" {{ end }}
/>
{{- else -}}
{{- $maxWidth := cond (isset . "maxW") .maxW $image.Width -}} 
{{- $webp := $image.Resize (printf "%dx webp #fff q80" $maxWidth) -}}

{{- $srcset := "" -}}
{{- range $element := slice "200" "430" "550" "730" "900" "1280" (string $maxWidth) -}}
    {{- if lt $element $maxWidth -}}
        {{- $tmpParams := printf "%sx webp q80" $element -}}            
        {{- $tmpImage := $webp.Resize $tmpParams -}}
        {{- $current := $srcset | default "" -}}
        {{- $separator := cond (eq $srcset "") "" ", "  -}}
        {{- $srcset = printf "%s%s %s %sw" $current $separator $tmpImage.RelPermalink $element -}}
    {{- end -}}
{{- end -}}

<img src="{{ $webp.RelPermalink }}" 
    {{ if $srcset }} srcset="{{ $srcset }}" {{ end }}
    alt="{{ .alt }}" 
    width="{{ $webp.Width }}"
    height="{{ $webp.Height }}"
    loading="lazy"
    {{ if .class }} class="{{ .class }}" {{ end }}
/>

{{- end -}} 

